.main {
  position: relative;
  overflow-y: hidden;
  //Header
  .header {
    position: fixed;
    top: 0px;
    left: 60px;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
    box-shadow: 0 0 10px rgba(58, 58, 58, 0.2);
    z-index: 3;
    transition: left 0.25s ease-in-out;
    button {
      background-color: transparent;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      border-right: 1px solid rgb(238, 238, 238);
    }
  }
  //Page content
  .page-content {
    display: flex;
    position: relative;
    top: 50px;
    left: 60px;
    width: calc(100% - 60px);
    padding: 5px;
    transition: left 0.25s ease-in-out;
  }
  //Side navbar
  .side-nav {
    padding-top: 60px;
    display: block;
    position: fixed;
    top: 0;
    left: -140px;
    height: 100vh;
    width: 200px;
    background-color: blue !important;
    transition: left 0.25s ease-in-out;
    z-index: 2;
    .nav-item span{
      display: none;
    }
    .nav-item{
      display: flex;
      justify-content: end;
      padding: 15px;
      cursor: pointer;
      img{
        height: 24px;
        width: 24px;
      }
    }
  }
  .fa-bars-staggered {
    color: blue;
  }

  .toggle-btn {
    position: relative;
    left: 0;
    top: 50px;
  }

  .side-nav.is-active {
    top: 0px;
    left: 0;
    .nav-item span{
      display: contents;
    }
    .nav-item{
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px;
      font-size: 20px;
      color: #ffffff;
      font-weight: 550;
      text-decoration: none;
      width: 100%;
      img{
        height: 24px;
        width: 24px;
      }
      strong{
        margin-left: 20px;
      }
    }
  }
  .header.is-active{
    left: 200px;
  }

  .page-content.is-active {
    padding-left: 150px;
  }
}
// Responsive
@media screen and (max-width: 767px) {
  .header,
  .page-content,
  .side-nav {
    left: 0;
    transition: none;
  }

  .header {
    left: 0;
  }

  .page-content {
    padding-left: 0;
    width: 100%;
    top: 100px;
  }

  .side-nav {
    left: -200px;
    width: 100%;
    padding-top: 100px;

    .nav-item {
      justify-content: end;
    }

    .nav-item span {
      display: initial;
    }

    .nav-item strong {
      margin-left: 0;
    }
  }

  .toggle-btn {
    position: fixed;
    top: 0;
    left: 0;
  }
}
