/* You can add global styles to this file, and also import other style files */
// Import Bootstrap Styles
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
